



::-webkit-scrollbar { 
    display: none; 
}



:focus {
    outline: 0;
}

/* Mozilla based browsers */
::-moz-selection {
    background-color: #C29948;
    color: white;
}

/* Works in Safari */
::selection {
    background-color: #C29948;
    color: white;
}


*:focus {
    outline: none !important;
}

body{
    overflow-x:hidden;

}

.relative{
    position: relative;
}

.textblue{
    color: #00ACFF;
}

a{
    color: #00ACFF;
    @extend .transition05;
    &:hover{
        text-decoration: none;
        color: #b20000;
    }

}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    color: white;
    border: 3px solid black;
    color: #00ACFF;
    padding: 10px 20px;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    background-color: transparent;
    @extend .transition05;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    &:hover{
        border-color: black;
        background-color: black;
        color: white;
    }
}




h2{
    font-family: 'Libre Baskerville', serif;
    font-size: 5vw;
    font-weight: 700;
}

h3{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 50px;
}

h4{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 24px;
}

p{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

label {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    margin-top: 10px;
}


iframe{
    height: 100%;
    width: 100%;
    border: 0px;
    .masthead {
        font-family: 'Libre Baskerville', serif !important;
    }
}




// CHECKBOX


.list {
       padding: 0px;
}

.list__item {

  padding: 0;
  list-style: none;
}

.label--checkbox {
      position: relative;
    margin: 0px;
    line-height: 1.9;
    cursor: pointer;
}

.checkbox {
position: relative;
    top: 0px;
    margin: 6px 19px 0 0 !important;
    cursor: pointer;
    float: left;
}
.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
     width: 20px;
    height: 20px;
      border: 3px solid black;
}
.checkbox:checked:before {
  background-color: #00ACFF;
}
.checkbox:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    cursor: pointer;
}


// 



.regroupintro, .engageintro, .connectintro{
    @extend .transition08;
    color: black;
}

.titleMobile{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px !important;
    position: relative;
    display: inline-block !important;
    &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #00ACFF;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: -10px;
        opacity: 1;
    }

}

.closemodalMobile{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px !important;
    position: relative;
    display: inline-block !important;
    float: right;
    color: white;
    cursor: pointer;
    margin-right: 9px;
    &:after{
        content: "";
        position: absolute;
        width: 140%;
        height: 38px;
        background-color: #00ACFF;
        left: 50%;
        z-index: -1;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: -10px;
        opacity: 1;
    }
}

.vertical-align{
    position: relative;
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.map{
    cursor: pointer;
    opacity: 1;
    margin-top: 20px;
    &:hover{
        opacity: 0.8;
    }
}

.margin-xs{
    margin-top: 20px;
}

.margin{
    margin: 7% auto;
}

.leftcol{
    color: #333743;
    text-align: right;
}

.blocimg{
    overflow: hidden;
    min-height: 100px;
    img{
        width: 100%;
    }
}    

.blocimgLeft{
    right: -15px;
    position: relative;
}

.blocimgLeft img{
    right:50%;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
} 

.blocimgRight{
    left: -15px;
    position: relative;
}

.blocimgRight img{
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}   

.blochome{
    @extend .transition08;
    position: relative;
    opacity: 1;
    padding-left: 25px;
    #regroup, #engage, #connect, #intro{
        left: 0px;    
        @extend .transition08;
        position: relative;
    }
}

.blochomeOff{
    opacity: 0;
    #regroup{
        left: 10px;    
    }
    #engage{
        left: 20px;  
    }
    #connect{
        left: 30px; 
    }
    #intro{
        left: 40px;
    }
}

.blochome p{
    margin: 13px 0;

    font-size: 20px;
}

.blochome h3{
    font-size: 50px;
    margin: 5px 0;
    cursor: pointer;
    width: auto;
    display: inline-block;
    position: relative;
    &:after{
        content: "";
        position: absolute;
        width: 0%;
        height: 18px;
        background-color: #00ACFF;
        left:50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: -1;
        bottom: 4px;
        @extend .transition05;
    }
}

.blochome h3:hover:after{
    width: 100%;
} 

.row-same-height{
    display: table;
    width: 100%;
    margin: 0px;
}      


.col-same-height{
    display: table-cell;
    float: none !important;
    vertical-align: middle;
}     

.bg{

    background-position: center right;
    position: absolute;
    width: calc(100% - 30px);
    height: 100%;
    top: 0px;
    right: 60px;
    @extend .transition08;
    opacity: 1;
    background-size: 500px;
}

.bganimation{
    li{

    }
}


.bannerGroupAuto{
    height: auto;
    position: relative;
    margin-bottom: 20px;
    .banner{
        min-height: 200px;
        float: left;
        background-size: cover;
        background-position: center;
        @extend .transition08;
    }
    .banner01{
        background-color: green;
        width: 41.66666667%;
        position: relative;
        height: 320px;
    }
    .banner02{
        background-color: pink;
        width: 58%;
        position: relative;
        height: 320px;
        left: 15px;
    }
    .banner03{
        background-color: brown;
        width: 35%;
        position: absolute;
        height: 320px;
        z-index: 1;
        right: 0px;
        top: -35px;
    } 
    .banner04{
        background-color: pink;
        width: 70%;
        position: relative;
        height: 320px;
        left: 0px;
    }
    .banner05{
        background-color: brown;
        width: calc(30% - 15px);
        position: relative;
        height: 320px;
        left: 15px;
    } 
    .banner06{
        background-color: green;
        width: 41.66666667%;
        position: relative;
        height: 320px;
    }
    .banner07{
        background-color: pink;
        width: 58%;
        position: relative;
        height: 320px;
        left: 15px;
        margin-top: 160px;
    }
}   

 


.bgOff{
    opacity: 0 !important;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.bgAbout{
    background-image: url('../img/about.jpg');
    z-index: 2;
    opacity: 0;
}

.bgServices{
    background-image: url('../img/services.jpg');
    z-index: 2;
    opacity: 0;

}

.bgContact{
    background-image: url('../img/infos.jpg');
    z-index: 2;
    opacity: 0;

}



.bgBase{
    background-image: url('../img/bg.jpg');
    z-index: 1;
}

.bgBaseMobile{
    position: relative;
    height: 200px;
    background-size: 350px;
    background-position: center;
    margin: 15px auto;
}


.bgRegroup{
    background-image: url('../img/regroup.jpg');
    z-index: 2;
    opacity: 0;
    background-size: cover;
    background-position: center;
    right: 140px;
}

.bgEngage{
    background-image: url('../img/engage.jpg');
    z-index: 2;
    opacity: 0;
    background-size: cover;
    background-position: center;
    right: 140px;
}

.bgConnect{
    background-image: url('../img/connect.jpg');
    z-index: 2;
    opacity: 0;
    background-size: cover;
    background-position: center;
    right: 140px;
}


.bgVector{
    background-image: url('../img/vector.svg');
    z-index: 4;
    opacity: 1;
    background-repeat: no-repeat;

}

.bgVector2{
    background-image: url('../img/vector2.svg');
    z-index: 1;
    opacity: 1;
// background-repeat: no-repeat;

}

.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: #00ACFF;
    background-color: #fff;
    background-image: none;
    border: 3px solid #F6F6F6;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0);
}

.form-control:focus {
    border-color: #00ACFF;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(102,175,233,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(102,175,233,0);
}



.intercalaire{
    background-color: #333743;
    position: fixed;
    height: 100%;
    width: 60px;
    left: 0px;
    z-index: 90;
    @extend .transition08;
}

.intercalaireOn{
    width: 15%;
}

.jumbotron {
    text-align: center;
    overflow: hidden;
    position: fixed;
    height: 100%;
    left: 0;
    width: 30%;
    margin-bottom: 0px;
    background-color: #F6F6F6;
    top: 0;
    @extend .transition08;
}

.jumbotronOn{
    left: 15%;
}

.jumbotron .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 1;
}

.jumbotron img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    @extend .transition05;
}

.jumbotron nav ul li img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 1;
    top: 50%;
    opacity: 0;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    @extend .transition05;
}

.jumbotron nav ul li a:hover + img {
    opacity: 1;
}



.jumbotronSmall{
    text-align: center;
    overflow: hidden;
    position: fixed;
    height: 100%;
    left: 0px;
    width: 15%;
    margin-bottom: 0px;
    background-color: #F6F6F6;
    top: 0;
    left: 0%;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    @extend .transition08;
    .jumbotronSmallbg{
        background-position: top;
        position: absolute;
        background-size: 500px;
        width: 100%;
        height: 100%;
        top: 0px;
        right: 0px;
        height: 100%;
        top: 0px;
        @extend .transition08;
        opacity: 0;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-duration: 8s;
        animation-duration: 8s;
        -webkit-animation-name: bg-anim;
        animation-name: bg-anim;
        animation-play-state: paused;
        -webkit-animation-play-state: paused;
    }
    .jumbotronSmallbgOn{
        opacity: 1 !important;
        animation-play-state: running;
        -webkit-animation-play-state: running;

    }
}

.jumbotronSmallOn{
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}



hr {
    margin-top: 10%;
    margin-bottom: 10%;
    order: 0;
    border-top: 3px solid #F6F6F6;
}

.container{
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;

    @extend .transition08;
}

.containerOff{
    left: -50%;
}

/*BUTTONS*/

.boutton-md {
    width: 250px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 40px auto;
    text-align: center;
    display: block;
    border: 1px solid #C29948;
    color: #C29948;
    padding: 18px;
    background-color: white;
    @extend .transition05;

}

.boutton-md:hover, .boutton-md:focus{
    background-color: #C29948;
    color: white;
    text-decoration: none;
}

/*NAV*/


/*LOGO*/

.logo{
    width: 170px;
    margin: 50px auto;
    z-index: 2;
    @extend .transition05;
}

.logoMobile{
    width: 130px;
    margin: 30px auto;
}

.logo img, .logofooter img{
    width: 100%;
}

.logofooter{
    width: 200px;
    margin: 30px auto;
    position: relative;
    z-index: 2;
}

/*img*/

img{
    width: 100%;
}

.imgDetail{
    width: 100%;
    max-width: 250px;
}

.title{
    position: fixed;
    z-index: 100;
    top: 50%;
    left: calc(0% + 50px);
    font-size: 5vw;
    letter-spacing: 2px;
    color: white;
    margin: 0px;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
}

footer{
    position: fixed;

    right: 30px;
    bottom: 30px;
    @extend .transition08;
    p{
        margin: 0px;
        font-size: 12px;
    }
}



.contactfooter{
    position: fixed;
    bottom: 30px;
    @extend .transition08;
    left: calc(30% + 60px);
    p{
        margin: 0px;
        font-size: 12px;
    }

}

.footerOff{
    bottom: -60px;
}
.footerModal p{
    font-size: 9px;
    margin: 0;
}

.navConnect{
    position: fixed;
    z-index: 100;
    opacity: 1;
    left: calc(30% + 30px);
    @extend .transition08;
}

.navConnectOff{
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

.navModal{
    position: fixed;
    z-index: 100;
    top: 50%;
    right: -20px;
    -webkit-transform: translate(50%, -50%) rotate(90deg);
    -moz-transform: translate(50%, -50%) rotate(90deg);
    -ms-transform: translate(50%, -50%) rotate(90deg);
    -o-transform: translate(50%, -50%) rotate(90deg);
    transform: translate(50%, -50%) rotate(90deg);
    background-color: white;
    opacity: 1;
    @extend .transition08;
}

.navModalOn{
    right: calc(0% + 31px);
}



.navConnect ul, .navModal ul{
    margin: 0;
    padding: 0px;
}

.navConnect ul li, .navModal ul li{
    list-style: none;
    float: left;

}

.navConnect ul li:nth-child(2) {
    margin-left: 30px;
}  

.navConnect ul li:nth-child(3) {
    margin-left: 30px;
}  

.navConnect ul li a, .navModal ul li a{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 500;
    @extend .transition05;
    padding: 30px;
    display: block;
    position: relative; 
}


.navConnect ul li a:after, .navModal ul li a:after{
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    background-color: #00ACFF;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 21px;
    opacity: 0;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.navConnect ul li a:hover:after, .navModal ul li a:hover:after{
    opacity: 1;
    width: calc(100% - 60px);
}



.navConnect ul li a:hover, .navModal ul li a:hover, .navConnect ul li a:focus, .navModal ul li a:focus{
    text-decoration: none;
    color: black
}



.menuInfos{
    position: fixed;
    right: calc(55% + 15px);
    text-align: right;
    z-index: 1052;
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    .active{
        a{
            &:after{
                width: 100%;
            }
        }
    }
    li{
        margin-bottom: 30px; 
        display: block;
        font-family: 'Libre Baskerville', serif;
        font-weight: 700;
        font-size: 24px;
        a{
            color: black;
            padding: 0px;
            display: inline-block !important;
            text-decoration: none;
            @extend .transition05;
            display: block;
            position: relative;
            &:hover{
                color: black;
                text-decoration: none;
                background-color: transparent;
                &:after{
                    width: 100%;
                }
            }
            &:focus{
                color: black;
                text-decoration: none;
                background-color: transparent;
                &:after{
                    width: 100%;
                }
            }
            &:after{
                content: "";
                position: absolute;
                width: 0%;
                height: 3px;
                background-color: #00ACFF;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
                bottom: -8px;
                opacity: 1;
                -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
                -moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
                -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
            }

        } 
    }
}


/*JUMBOTRON*/


@media only screen and (max-width: 968px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 11px;
    }
    .nav>li {
        width: 142px;
    }
    .navbar-nav {
        margin: 2.5px -15px;
    }
    .jumbotron {
        height: 350px;
    }
    .vertical-align{
        position: static;
    }
}


@media only screen and (max-width: 868px) {
    .nav>li {
        width: auto;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-default {
        background-color: rgba(255, 255, 255, 0.9);
    }
    .nav>li {
        border: 0px !important;
    }
    .navbar-fixed-top {
        top: 0px;
        border-top: 0px solid black;
    }
    .navbar-default {
        background-color: rgba(255, 255, 255, 0.7);
    }
    .logo {
        width: 270px;
        top: 13px;
        left: 10px;
        transform: translateX(0%);
        -moz-transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
    .jumbotron {
        height: 200px;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        border-right: 0px solid black;
        display: block;
        float: left !important;
    }

    .row{
        display: block;
        width: auto;
    }


}


@media only screen and (max-width: 968px){
    .navbar-nav {
        margin: 20px 0px;
    }
    .jumbotron {
        height: 100%;
    }

    .blochome p{
            font-size: 17px;
        }

    .container {
        width: 100%;
        position: relative;
        height: auto;
        padding: 90px 10px;
        text-align: left;
        padding: 60px 20px;
        max-width: 400px;
    }
    .modal-body {
        position: relative;
        padding: 15px;
        max-width: 400px;
        margin: auto;
    }
    .blochome h3 {
        font-size: 30px;
        display: block;
        margin: 12px 0;
    }
    .blochome{
        padding-left: 0px;
    }
    .vertical-align{
        top: 0%;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
    footer{
        text-align: center;
        width: 100%;
        left: 0;
    }
    .navModal {

    }
    .navConnect, .navModal{
        left:0px;
        width: 100%;
        text-align: center;
    }
    .navConnect ul li, .navModal ul li {
        list-style: none;
        text-align: center;
        display: inline-block;
        float: none;
    }
    .navConnect ul li:nth-child(2), .navConnect ul li:nth-child(3) {
        margin-left: 0px;
    }
    .navConnect ul li a, .navModal ul li a {
        padding: 30px 20px;
    }
    .modal-content{
        padding: 20px 0px !important;
        overflow-y: visible !important;
        padding-top: 0px!important;

    }
    .leftcol {
        text-align: left;
    }
    .imgDetail {
        margin: 20px 0px;
    }

    .text-center{
        text-align: left;
    }
    h2 {
        font-size: 30px;
    }
    h4 {
        font-size: 20px;
    }
    .navModalOn {
        right: 0px;
    }
    .navModal {
        position: fixed;
        z-index: 100;
        top: 0px;
        width: 100%;
        -webkit-transform: translate(0%,0%) rotate(0deg);
        -moz-transform: translate(0%,0%) rotate(0deg);
        -ms-transform: translate(0%,0%) rotate(0deg);
        -o-transform: translate(0%,0%) rotate(0deg);
        transform: translate(0%,0%) rotate(0deg);
        background-color: transparent;
        opacity: 1;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-right: 0px;
        padding-left: 0px;
    }
}


